* {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}
body {
  color: wheat;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  height: 100vh;
}
.round1 {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 13em;
  height: 13em;
  border-radius: 50%;
  box-shadow: 0 0 50px #d84869;
  background: linear-gradient(-25deg, #d84869, #f46641);
  animation: circle1Animate 15s infinite;
  z-index: ;
}

@keyframes circle1Animate {
  30% {
    left: 30%;
    top: 4%;
    scale: 1.2;
  }
}
.round2 {
  position: absolute;
  bottom: 5%;
  right: 30%;
  width: 19em;
  height: 19em;
  border-radius: 50%;
  box-shadow: 0 0 50px #5648d8;
  background: linear-gradient(-25deg, #5648d8, #8641f4);
  animation: circle2Animate 8s infinite;
}
@keyframes circle2Animate {
  80% {
    bottom: 2%;
    right: 20%;
  }
}
.card {
  position: absolute;

  height: 90vh;
  width: 35vw;
  background-color: #918a8a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 2px solid #ffffff30;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  /* color: #ffffff; */
  z-index: 9;
}
#profile-photo {
  border-radius: 50%;
}
.heading {
  font-size: 2rem;
  color: azure;
}
.sub-heading {
  color: rgb(189, 187, 187);
}
.button-section {
  display: flex;
  gap: 1em;
}
button {
  border-style: none;
  border-radius: 10px;
  border-style: solid;
  border-color: aliceblue;
  background: none;
  color: azure;
  padding: 1rem;
  width: 12em;
  display: flex;
  gap: 1em;
  justify-content: center;
}
button:hover {
  cursor: pointer;
  background-color: aliceblue;
  color: black;
}
.modal {
  scale: 0;
  z-index: 11;
  /* height: 500px; */
  /* position: relative; */
  /* background-color: black; */
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: 0.5s ease-in-out;
}
.share {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 40vh;
  width: 35vw;
  background-color: #fdfafa1a;
  border: 2px solid #ffffff;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  padding: 2rem;
}
.profile-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.profile-header div i:hover {
  cursor: pointer;
  color: #d84869;
}
.icons-container {
  display: flex;
  gap: 1rem;
}
.icons-container div a {
  color: #ffffff;
  /* border: 1px solid #ffffff; */
  font-size: 203m;
}
.active {
  scale: 1;
}
.overlay {
  position: fixed;
  background-color: #4e4d4d83;
  top: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}
.overlayactive {
  opacity: 1;
  pointer-events: initial;
}
